body {
    background-color: lightblue;
    font-family: 'Inconsolata', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Inconsolata', 'Arial', sans-serif;
    padding: 1vh;
}

#currently-playing {
    display: flex;
    align-items: center;
}

#recommendations-button-container {
    padding: 3vh 0vw;
}

#cover-art-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cover-art {
    width: 20vh;
    height: 20vh;
}

#song-info {
    margin-left: 2vw;
    width: auto;
}

.sliders-container {
    width: auto;
    max-width: 400px;
}

.slider-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliders-container input[type="range"] {
    width: 100%;
}

.slider-label {
    margin-bottom: 10px;
    display: inline-block; /* Allows the label to have a width and height */
    width: auto; /* Set a fixed width */
    height: 25px; /* Set a fixed height */
    text-align: center; /* Center the text within the label */
}

.pills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: auto; /* Set a fixed width */
    max-width: 50%;
    height: 400px;
    overflow-x: auto; /* Enable horizontal scrolling */
    justify-content: center; /* Center the items horizontally */
}

.pills-container input[type="checkbox"] {
    display: none;
}

.pills-container label {
    padding: 10px 20px;
    background-color: #ddd;
    border-radius: 20px;
    cursor: pointer;
}

.pills-container input[type="checkbox"]:checked + label {
    background-color: #92c5ff;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.sliders-container, .pills-container {
    flex: 1;
    max-width: 50%;
    padding: 0px 5vw;
}

/* #song-name, #artist-name {
    text-align: center;
} */