body {
    background-color: lightblue;
    font-family: 'Inconsolata', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Inconsolata', 'Arial', sans-serif;
    padding: 1vh;
}

button:hover {
    cursor: pointer;
    filter: brightness(95%);
}

.hidden {
    display: none;
}

#message-to-user {
    position: fixed;
    top: 1vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
    opacity: 0; /* Initially transparent */
    transition: opacity 0.5s; /* Transition effect */
}

#currently-playing {
    z-index: 1;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 15px;
    max-height: 20vh;
    min-height: 10vh;
    min-width: 50%;
    width: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#song-info {
    flex: 2;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: auto;
    max-width: 50%;
}

#song-info p {
    color: white;
    display: flex;
    justify-content: flex-start;
    margin: 5px;
    width: auto;
    overflow-y: hidden;
    white-space: nowrap;
    overflow-x: auto;
    text-overflow: ellipsis;
    max-width: 100%;
    flex-shrink: 1;
}

#song-name-text, #artist-name-text, #album-name-text {
    margin-left: 10px;
}

.all-music-controls {
    flex: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    flex-direction: column;
}

.music-controls, .music-library-controls {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-controls {
    flex-direction: row;
}

.music-control-button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spotify-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#spotify-icon {
    height: 70px;
    padding: 0px 10px;
    flex: 1;
}

#recommendations-button {
    font-size: 20px;
    padding: 10px 20px;
}

#spotify-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#spotify-logo {
    height: 70px;
    padding: 0px 10px;
}

@media (min-width: 600px) {
    .music-control-button {
        width: 35px;
        height: 35px;
    }
    #currently-playing {
        max-width: 75%;
    }
    #spotify-logo-container {
        display: none;
    }
}

@media (max-width: 599.99px) {
    .music-control-button {
        width: 30px;
        height: 30px;
    }
    #currently-playing {
        max-width: 90%;
    }
    #song-queue-container {
        display: none;
    }
    #spotify-icon-container {
        display: none;
    }
    #spotify-logo-container {
        display: flex;
    }
}

#recommendations-button-container {
    padding: 3vh 0vw;
}

#recommendations-button {
    border-radius: 15px;
}

#coverArt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20%;
    height: width;
}

#cover-art {
    margin: 0px 10px;
    width: auto;
    height: width;
}

#song-queue-container {
    flex-shrink: 1;
    background-color: #262626;
    flex: 3;
    width: 100%;
    height: 10vh;
    margin: 10px;
    border-radius: 10px;
    min-width: 100px;
    overflow: auto;
    overflow-y: auto;
    text-overflow: ellipsis;
}

img#cover-art[src=""] {
    width: 0;
    height: 0;
    background-color: #c4c4c4;
}

#currently-playing-right {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 3;
    flex-shrink: 1;
    overflow: hidden;
    max-height: 10vh;
}

#currently-playing-right > div {
    flex-shrink: 1;
}

.slider {
    margin-bottom: 20px;
}

.slider:hover {
    cursor: pointer;
}

#playlist-list-container {
    z-index: 2;
    position: absolute;
    top: -500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: auto;
    max-height: 500px;
    max-width: 200px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: auto;
}

.playlist-list-item {
    border-radius: 10px;
    width: auto;
    margin: 0.5vh;
    border-radius: 10px;
    padding: 1vh;
}

.playlist-list-item > p {
    margin: 0;
}

.playlist-list-item:hover {
    cursor: pointer;
    background-color: #cbcbcb;
}

.song-queue-list-item {
    background-color: black;
    border-radius: 10px;
    width: auto;
    margin: 0.5vh;
    border-radius: 10px;
    padding: 0.5vh;
    overflow-x: auto;
    text-overflow: ellipsis;
    flex-wrap: wrap;
}

.song-queue-list-item > p {
    color: white;
    margin: 0;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-queue-list-item:hover {
    cursor: pointer;
    background-color: #242424;
}

#song-queue-currently-playing {
    background-color: #6c6c6c;
}

.sliders-container {
    width: auto;
    max-width: 400px;
    align-items: center;
}

.sliders-container input[type="range"] {
    width: 100%;
}

.slider-label-container {
    width: auto;
    height: 25px;
    display: flex;
    align-items:center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.slider-checkbox {
    margin-right: 10px;
}

.sliders-container, .pills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: auto; /* Set a fixed width */
    max-width: 50%;
    height: 450px;
    overflow-x: auto; /* Enable horizontal scrolling */
    justify-content: center; /* Center the items horizontally */
    flex: 1;
    padding: 0px 5vw;
}

.pills-container input[type="checkbox"] {
    display: none;
}

.pills-container label {
    padding: 10px 20px;
    background-color: #e8e8e8;
    border-radius: 20px;
    cursor: pointer;
}

.pills-container label:hover {
    filter: brightness(95%);
}

.pills-container input[type="checkbox"]:checked + label {
    background-color: #92c5ff;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.clickable:hover {
    cursor: pointer;
}

#slider-input-container {
    width: 100%;
    position: relative;
    align-items: center;
}

.slider-icon-currently-playing {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}